<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  content="width=device-width,initial-scale=1.0">
  <title>Débutant 17</title>
  <style>
    body{
    font-family: Georgia, serif;
    text-align: center;
    background-color: #d5f6ff;

    }
    button {
    background-color: #d0d0f9;
    border-radius: 20px 20px;
    padding: 15px;
    border: 1px solid cyan;
    width: 70%;
    margin-bottom: 1em;
    color: black;
    font-family: Georgia, serif;
    box-shadow: 0 2px 2px rgba(0,0,0,0.8);
    }


    div {
    border-radius: 10px 10px;

    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.8);
    animation-duration: 3s;
    animation-name: junior;
    }
    @keyframes junior{
    from{
    transform: scaleX(0);
    opacity: 0;
    }
    to {
    opacity: 1;
    }
    }

    h1 {
    font-size: 22px;
    padding: 8px;
    color: black;
    }
    p {
    color: black;
    }
    dialog{
    border-radius: 10px 10px;
    background: #b7fafa;
    border: none;
    width: 60%;
    }

    .dialog::backdrop {
    background: rgba(0,0,0,0.3);
    }
    .dialog p {
    white-space: pre-line;
    color: blue;
    }
    .dialog button {
    width: 100%;
    }
    .dialog h1 {
    font-size: 30px;
    color: black;
    }
    .text {
    width: 50%;
    }

  </style>
</head>
<body>

  <div id="reponses">
    <br><br><br>
    <h1 id="quiz">qui es-tu ?</h1>
    <br><br><br>

    <button id="btn0" onclick="reponse(0)"></button>
    <button id="btn1" onclick="reponse(1)"></button>
    <button id="btn2" onclick="reponse(2)"></button>
    <button id="btn3" onclick="reponse(3)"></button>
    <p id="score">
      Points : 0
    </p>
    <br>
  </div>




  <dialog class="dialog" id="dialog">
      
    <h1 class="dialog-h1">VICTOIRE  🎉</h1>
    <button onclick="suivant({{ joueur_id }})">SUIVANT</button>
    <button onclick="profil({{ joueur_id }})">PROFIL</button>
  </dialog>
  <dialog class="text" id="text">

  </dialog>







  <script>
    let dialog = document.getElementById("dialog")
    let text = document.getElementById("text")
    setTimeout(function () {
    text.innerHTML = `<p>BIENVENUE AU \n NIVEAU 17</p>`
    text.showModal()
    }, 2500)
    setTimeout(function () {
    text.close()
    }, 4000)

    function cache() {
    setTimeout(function () {
    text.close();
    }, 1000)
    }
     function suivant(id) {
    window.location.href = `/debutant18/${id}/`
    }
    function profil(id) {
    window.location.href = `/profil/${id}/`
    }
    
    let questionTableau =[
    {
        "questions": "Quel est le reste de la division de 7^2024 par 5 ?",
        "result": ["1", "2", "3", "4"],
        "correction": 0
    },
    {
        "questions": "Quel physicien a formulé l'équation d'onde qui décrit l'évolution temporelle d'une fonction d'onde en mécanique quantique ?",
        "result": ["Paul Dirac", "Werner Heisenberg", "Erwin Schrödinger", "Max Born"],
        "correction": 2
    },
    {
        "questions": "Quelle est la capitale du Vanuatu ?",
        "result": ["Port Vila", "Suva", "Honiara", "Nouméa"],
        "correction": 0
    },
    {
        "questions": "Quel élément chimique a pour symbole 'Hs' et quel est son numéro atomique ?",
        "result": ["Hassium - 108", "Hassium - 107", "Hassium - 109", "Hassium - 110"],
        "correction": 0
    },
    {
        "questions": "Combien de polyèdres réguliers convexes (solides de Platon) existe-t-il ?",
        "result": ["4", "5", "6", "7"],
        "correction": 1
    },
    {
        "questions": "Qui est l'auteur de « Les Démons » (ou « Les Possédés ») ?",
        "result": ["Fiodor Dostoïevski", "Léon Tolstoï", "Nikolaï Gogol", "Ivan Tourgueniev"],
        "correction": 0
    },
    {
        "questions": "Quelle est la valeur de la constante de Boltzmann en eV/K ?",
        "result": ["8,617 × 10^-5", "1,381 × 10^-23", "6,626 × 10^-34", "9,274 × 10^-24"],
        "correction": 0
    },
    {
        "questions": "Quelle enzyme digestive est responsable de la dégradation des acides nucléiques ?",
        "result": ["Amylase", "Pepsine", "DNase et RNase", "Lipase"],
        "correction": 2
    },
    {
        "questions": "Quel est le plus grand désert d'Amérique du Nord ?",
        "result": ["Désert de Sonora", "Désert de Chihuahua", "Désert du Grand Bassin", "Désert de Mojave"],
        "correction": 2
    },
    {
        "questions": "Quel philosophe a développé la théorie des « jeux de langage » ?",
        "result": ["Ludwig Wittgenstein", "Bertrand Russell", "Gottlob Frege", "John Searle"],
        "correction": 0
    }
]


    let debutPremiereQuestion = 0;
    let questionPoser = [];

    let divElement = document.getElementById("reponses");

    let scoreElement = document.getElementById("score");

    let questionElement = document.getElementById("quiz");
    let score = {{ score.score }}
    const joueur_id = {{ joueur_id }}
    scoreElement.innerText = "Score : " + score;
    let reponseButton = [
    document.getElementById("btn0"),
    document.getElementById("btn1"),
    document.getElementById("btn2"),
    document.getElementById("btn3"),
    ];


    function nouvelleQuestion() {

    if (questionPoser.length === questionTableau.length) {
    let i = 0;
    i++
    text.innerHTML = `<p>Félicitation niveau  17 terminé ! \n score final : ${score} </p>`
    text.showModal();
   
    divElement.innerHTML = "";

    setTimeout(function () {
    text.innerHTML = "Félicitation niveau suivant ! 💐"
    text.showModal();
    dialog.showModal()
    }, 100)
    return;
    }

    let questionIndex = getRandomQuestionIndex();
    debutPremiereQuestion = questionIndex;
    let questionData = questionTableau[debutPremiereQuestion]
    questionElement.innerText = questionData.questions;



    for (let i = 0; i < reponseButton.length; i++ ){

    reponseButton[i].innerText = i+ ": " + questionData.result[i] || "";
    }
    }

    function getRandomQuestionIndex() {

    let questionIndex = Math.floor(Math.random()* questionTableau.length);

    while (questionPoser.includes(questionIndex)) {
    questionIndex = Math.floor(Math.random()* questionTableau.length)

    }
    questionPoser.push(questionIndex)
    return questionIndex;
    }


    function reponse(reponseIndex) {
    let questionData = questionTableau[debutPremiereQuestion];
    if (reponseIndex === questionData.correction ) {
    score++
    text.innerHTML = `<p>
    Vous avez trouver félicitations !\n \n la réponse était  <strong>
    ${questionData.result[questionData.correction]}
    </strong>
    </p>`
    text.showModal();
    cache();
    scoreElement.innerHTML = "Score: "+ score;
    function getcookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
  }
                    fetch('/Save_Score/',{
         method : "POST",
         headers: {
            'Content-Type':'application/json',
            'X-csrfToken': getcookie('csrftoken')
            },
         body : JSON.stringify({
            value : score,
            joueur: joueur_id
            })
         })
         .then(res => res.json())
         .then(data => console.log("Reussie"))
   nouvelleQuestion();

    } else {
    text.innerHTML = "votre réponse est incorrect ! ";
    text.showModal();
    cache();
    score--
    scoreElement.innerHTML = "Score : "+ score;
   
    }
    }

    function recommencer() {
    debutPremiereQuestion = 0;
    score = 0;
    questionPoser = [];
    scoreElement.innerHTML = "Score: "+ score;

    nouvelleQuestion();
    }
    nouvelleQuestion();

  </script>

</body>
</html>
