   <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width,initial-scale=1.0">
        <title>Débutant 8</title>
        <style>
        body{
            font-family: Georgia, serif;
            text-align: center;
            background-color: #d5f6ff;
       
        }
        button {
            background-color: #a3d1f3;
            border-radius: 20px 20px;
            padding: 15px;
            border: 1px solid cyan;
            width: 70%;
            margin-bottom: 1em;
            color: black;
            font-family: Georgia, serif; 
            box-shadow: 0 2px 2px rgba(0,0,0,0.8);
        }
       

        div {
            border-radius: 10px 10px;
          
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0,0,0,0.8);
            animation-duration: 3s;
            animation-name: junior;
        }
        @keyframes junior{
            from{ 
                background: black;
                transform: scaleY(0);
            }
            to {
                background-color: white;
                transform: scaleY(1.0);
            }
        }
     
     h1 {
         font-size: 22px;
         padding: 8px;
         color: black;
     }
     p {
         color: black;
     }
     dialog{
       
       border-radius: 10px 10px;
       background: #b7fafa;
       border: none;
       width: 60%;
     }
     
     .dialog::backdrop {
       background: rgba(0,0,0,0.4);
     }
     .dialog p {
       white-space: pre-line;
       color: blue;
     }
     .dialog button {
       width: 100%;
     }
     .dialog h1 {
       font-size: 30px;
       color: ;
     }
     .text {
       width: 50%;
     }
     
             </style>
    </head>
    <body>
    
        <div id="reponses">
            <br><br><br>
          <h1 id="quiz">qui es-tu ?</h1> 
            <br><br><br>
          
        <button id="btn0" onclick="reponse(0)"></button>
        <button id="btn1" onclick="reponse(1)"></button>
        <button id="btn2" onclick="reponse(2)"></button>
        <button  id="btn3" onclick="reponse(3)"></button>
         <p id="score">Points : 0</p>
         <br>
       </div>
        
        
        
           <dialog class="dialog" id="dialog">
          <h1 class="dialog-h1">VICTOIRE  🎉</h1>
          <button onclick="suivant()">SUIVANT</button>
          <button onclick="profil()">PROFIL</button>
        </dialog>
        <dialog class="text" id="text">
          
        </dialog>

        <script>
            
         
         let dialog= document.getElementById("dialog")
          let text= document.getElementById("text")
            setTimeout(function () {
              text.innerHTML=`<p>BIENVENUE AU \n NIVEAU 1</p>`
              text.showModal()
            },2500)
            setTimeout(function () {
              text.close()
            },4000)
            
            
            let questionTableau = [
                
    {
        questions: "Quel est le nom du fleuve qui traverse Paris ?",
        result: [
            "Le Rhône",
            "La Loire",
            "La Seine",
            "La Garonne"
        ],
        correction: 2
    },
    {
        questions: "Quel est le nom du plus grand océan au monde ?",
        result: [
            "Océan Indien",
            "Océan Atlantique",
            "Océan Arctique",
            "Océan Pacifique"
        ],
        correction: 3
    },
    {
        questions: "Combien font 45+5×0+45×5:100-12 ?",
        result: [
            "18.50",
            "18.0",
            "18.25",
            "35.25"
        ],
        correction:  3
    },
    {
        questions: "Quel est le nom du plus grand félin vivant ?",
        result: [
            "Le léopard",
            "Le lion",
            "Le tigre",
            "Le jaguar"
        ],
        correction: 2
    },
    {
        questions: "Quel est le nom du fondateur d'Apple ?",
        result: [
            "Bill Gates",
            "Steve Jobs",
            "Steve Wozniak",
            "Michael Dell"
        ],
        correction: 1
    },
    {
        questions: "Quel est le nom de la capitale de l'Allemagne ?",
        result: [
            "Munich",
            "Hambourg",
            "Berlin",
            "Cologne"
        ],
        correction: 2
    },
    {
        questions: "Quel est le nom de la capitale du Canada ?",
        result: [
            "Toronto",
            "Montréal",
            "Vancouver",
            "Ottawa"
        ],
        correction: 3
    },
    {
        questions: "Quel est le nom du plus grand reptile vivant ?",
        result: [
            "Le crocodile du Nil",
            "Le crocodile marin",
            "Le caïman",
            "Le gavial"
        ],
        correction: 1
    },
    {
        questions: "Combien de continents existe-t-il ?",
        result: [
            "4",
            "5",
            "6",
            "7"
        ],
        correction: 3
    },
    {
        questions: "Quel est le nom du dieu grec de la mer ?",
        result: [
            "Zeus",
            "Hadès",
            "Poséidon",
            "Apollon"
        ],
        correction: 2
    },
    {
        questions: "Quel est le nom du détroit qui relie l'océan Atlantique à la mer Méditerranée ?",
        result: [
            "Le détroit de Gibraltar",
            "Le détroit de Messine",
            "Le détroit de Bonifacio",
            "Le pas de Calais"
        ],
        correction: 0
    },
    {
        questions: "Qu'est-ce que la géologie ?",
        result: [
            "L'étude des étoiles",
            "L'étude des roches",
            "L'étude des animaux",
            "L'étude des plantes"
        ],
        correction: 1
    },
    {
        questions: "Quel est le nom de la plus haute chute d'eau du monde ?",
        result: [
            "Les chutes du Niagara",
            "Les chutes Victoria",
            "Le Salto Ángel",
            "Les chutes d'Iguazu"
        ],
        correction: 2
    },
    {
        questions: "Quel est le nom du pays d'origine du football (soccer) ?",
        result: [
            "Brésil",
            "Angleterre",
            "Allemagne",
            "Italie"
        ],
        correction: 1
    },
    {
        questions: "Quel est le nom du premier homme à avoir voyagé dans l'espace ?",
        result: [
            "Neil Armstrong",
            "Youri Gagarine",
            "Buzz Aldrin",
            "Valentina Terechkova"
        ],
        correction: 1
    }

            ]
        
        function cache() {
   setTimeout(function () {
     text.close();
   },1000)
}
  function suivant() {
    window.location.href="/debutant9/"
  }
  function profil() {
    window.location.href="/profil/"
  } 

            
             let debutPremiereQuestion = 0;
  let questionPoser= [];
              
let divElement = document.getElementById("reponses");
            
let scoreElement = document.getElementById("score");
            
let questionElement = document.getElementById("quiz");
  let score = parseInt(localStorage.getItem("scoreNiveau8")) || 0; 
scoreElement.innerText = "Score : " + score;                   
            let reponseButton =  [
                document.getElementById("btn0"),
                document.getElementById("btn1"),
                document.getElementById("btn2"),
                document.getElementById("btn3"),
            ];
            
                        
            function nouvelleQuestion() {
                
            if(questionPoser.length === questionTableau.length) {
            let i = 0 ;
            i++
            text.innerHTML=`Félicitation niveau  8 terminé ! \n score final : ${score}`;
            text.showModal();
            cache();
      
            divElement.innerHTML= "";
            localStorage.setItem("scoreNiveau8",score);
                setTimeout(function () {
            text.innerHTML="Félicitation niveau suivant ! 💐" 
            text.showModal();
            dialog.showModal();
            }
,100)
                return;
            }
            
            let questionIndex= getRandomQuestionIndex();
            debutPremiereQuestion = questionIndex;
            let questionData = questionTableau[debutPremiereQuestion]
            questionElement.innerText = questionData.questions;
            
           
            
 for(let i = 0; i< reponseButton.length; i++ ){
             
              reponseButton[i].innerText= i+ ": " + questionData.result[i] || "";
             }
          }
            
            function getRandomQuestionIndex() {
            
                let questionIndex = Math.floor(Math.random()* questionTableau.length);
                
while (questionPoser.includes(questionIndex)) {
                    questionIndex = Math.floor(Math.random()* questionTableau.length)
                    
                }
                questionPoser.push(questionIndex)
                return questionIndex;
            }
            
            
            function reponse(reponseIndex) {
                let questionData = questionTableau[debutPremiereQuestion];
                if(reponseIndex === questionData.correction ) { 
                    score++ 
                    text.innerHTML=`<p>Vous avez trouver félicitations !\n \n la réponse était  <strong>${questionData.result[questionData.correction]}</strong></p>`
                    text.showModal();
                    cache();
                    scoreElement.innerHTML="Score: "+ score;
                   localStorage.setItem("scoreNiveau8",score);
                    nouvelleQuestion();
                    
                }else {
                    text.innerHTML=`votre réponse est incorrect ! `;
                    text.showModal();
                    cache();
                 score--
             scoreElement.innerHTML="Score : "+ score;
                   localStorage.setItem("scoreNiveau8",score);
                }
            }
            
            function recommencer() {
                debutPremiereQuestion = 0;
                questionPoser = [];
                score= 0;
                localStorage.setItem("scoreNiveau8",score);
                scoreElement.innerHTML= "Score: "+ score;
                nouvelleQuestion();
            }
            nouvelleQuestion();
       
        </script>
        
    </body>
</html>

